/* CSS Document */

#main_col{
	padding:20px;
	width:733px;
}

h4{
	margin:20px 0;
	font-size:16px;
}

#main_col img.leftImg{
	margin:0 10px 10px 0;
	float:left;
}

#main_col img.rightImg{
	margin:0 0 10px 10px;
	float:right;
}

p{
	text-indent:14px;
	font-size:13px;
}