h3{
	margin:10px 0 5px;
}

#contact_info li{
	margin-bottom:10px;
	margin-left:10px;
	clear:left;
	font-weight:400;
}

#contact_info span{
	font-weight:bold;
}

#contact_info {
	font-family:Geneva, Arial, Helvetica, sans-serif;

}
