vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jan 2008 03:33:16 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|dynacom2007/search.asp
vti_author:SR|SOLONICSSERVER\\Administrator
vti_modifiedby:SR|SOLONICSSERVER\\Administrator
vti_timecreated:TR|20 Jan 2008 03:33:16 -0000
vti_cacheddtm:TX|20 Jan 2008 03:33:16 -0000
vti_filesize:IR|388
vti_cachedlinkinfo:VX|Q|prototype.css
vti_cachedsvcrellinks:VX|FQUS|dynacom2007/css/prototype.css
vti_lineageid:SR|{FA7843CF-548F-4C79-A8B9-90BB2CB52ABB}
